*{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}

body{ 
    background-image: url(../resource/dark_embroidery.png);
    line-height: 2em;
}

#mudcakePic{
    width: 50%;
}

h1{
    font-size: 5em;
    padding: 70px;  
}

a{
    color: lightseagreen;
}
    
nav{
    padding-top: 1%;
    padding-bottom: 1%;
}

section{
    font-size: 1.2em;
}

ul{
    list-style: none;
}

.star{
    color: yellow;
    font-size: 2em;
}

#ingredients{
    padding-left: 1%;
    padding-left: 1%;
    float: left;
    width: 20%;    
}

#instructions{
    padding-left: 5%;
    padding-right: 5%;
    float: left;
    width: 58%;  
}

#ratingsBoard{
    float: left;
    width: 100%;
    padding: 1%;
}

#infoMC{
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 1%;
    padding-top: 2%;
    font-size: 1.2em; 
}

#selectAmount{
    padding: 10px;
    width:40px;
    height: 20px;
    color: black;
}

.amountOption{}
.ingredient{}

#processing{
    visibility: hidden;
    position: relative;
    background-color: white;
    color: white;
    font-size: 0.3em;  
    border-radius: 100px;
    animation-name: processingGIF;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes processingGIF{
    0%{
        right: 50px;     
    }100%{
        right: -50px; 
        background-color: gray;
        color: gray;
    }   
}

@media(max-width: 900px){
    h1{
       font-size: 3em;
       padding: 5%;  
    }
    #ingredients{
        padding-left: 5%;
        width: 15%;    
    }
    #instructions{
        padding: 5%;
        float: right;
        width: 60%;  
    } 
}

@media(max-width: 600px){
    body{ 
        background-image: none;
        background-color: #2d2d2d;
        line-height: 2em;
    }
    h1{
        float: left;
        font-size: 2.5em;
        width: 100%;
        padding-left: 0;
    }
    #ingredients{
        width: 90%;    
    }
    #instructions{
        padding: 10%;
        float: left;
        width: 80%;  
    }
    a{
        float: left;
        width: 100%;
        padding-bottom: 5%;
    }
}