*{
    margin: 0;
    padding: 0;
}

body{    
    margin: 0;
    padding: 0;
    line-height: 2em; 
}

header{
    padding: 10px;
    height: 100px;
    font-family: sans-serif;
    background-color: black;
    color: #b599ae;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 10px 10px 10px gray;
}
h1{
    padding: 10px;
}
aside{
    border-style: solid;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    padding-bottom: 50px;  
    background-color: #b599ae;
    width: 10%;
    float: left;
    height: 500px;
    overflow: auto;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 10px 10px 10px gray;
}
#jsLogo{
    width: 80%;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
main{ 
    width:80%;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
}
main p{
    font-size: 1.2em;
}

footer{
    float: right;
    bottom: 0px;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    padding: 15px;
    background-color: #cccccc;
    background-color: lightgrey;
}

@media(max-width: 600px){
    body{
        display: block;
    }
    header{
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        text-align: center;
    }
    aside{
        margin-top: 0;
        width: 100%;
        height:40px;
        overflow:hidden;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 0;
    }
    li{
        display: inline;
        margin: 10px;
    }
    #jsLogo{
        width: 15%;
        float: left;
    }
    main{        
        width: 90%;
        padding-left: 100px;
        margin-left: 20px;
       
    }

}